<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>To Do List</title>
        <link rel="stylesheet" href="css/style.css">
        <link
            href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Montserrat&family=Sacramento&display=swap"
            rel="stylesheet">
    </head>
    <body>